stanza>=1.10.0
torch>=2.0.0
scrapy>=2.11.0
aiohttp>=3.8.0
beautifulsoup4>=4.11.0
duckdb>=0.7.1
pandas>=2.0.0
matplotlib>=3.10.0
wordcloud>=1.9.5
seaborn>=0.13.2
soupsieve>=2.4
scikit-learn>=1.2.0
xgboost>=1.7.0
numpy>=1.24.0
langdetect>=1.0.9
deep-translator>=1.11.4
curl_cffi>=0.15.0
vaderSentiment>=3.3.2
textstat>=0.7.13
